body{
    background-color: #2e2e2e;
}

/* Div Tags */

#sideBar {
    background-color: #FFFFFF;
    width: 120px;
    min-height: 40px;
    border-bottom-style: ridge;
    border-radius: 5px;
    border-color: #CFCFCF;
    text-decoration: none;
    text-align: center;
    margin-top:10px;
}

#titleBar {
    background-color: #FFFFFF;
    width: 1000px;
    height: 30px;
    border-bottom-style: ridge;
    border-radius: 5px;
    border-color: #CFCFCF;
}

/* Span Tags */

#menuHead{
    font-size:10px;
}